body {
  text-align: center;
}

/* NAVIGATION */
.navi {
  height: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1.5;
}

/* BODY */
.name-heading {
  text-align: center;
  color: #fff;
  font-size: 4rem;
  line-height: 1.5;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
}
.main-heading {
  padding-bottom: 8.5rem;
  padding-top: 10rem;
  position: relative;
  background: linear-gradient(0deg, #8fcfd1 0, #df5e88 100%);
}

.main-image {
  float: left;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.mainbody-text {
  width: 60%;
  float: right;
}

.masthead {
  text-align: center;
  padding-top: 8rem;
}

/* TRAVEL */
.img1 {
  max-width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

#foot {
  height: 5rem;
  background-color: #343a40;
  color: #fff;
}

.footp {
}
/* RESPONSIVE PAGES */
/* @media (max-width: 1200px) {
  .mainbody-text {
    float: left;
    padding-top: 2rem;
    position: relative;
    left: 10rem;
  }

  .main-image {
    position: relative;
    left: 15rem;
  }

  .mainbody-hello {
    float: left;
    position: relative;
    right: 2rem;
    padding-top: 31rem;
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 991px) {
  .mainbody-text {
    float: left;
    padding-top: 1.5rem;
    position: relative;
    left: 9.25rem;
  }

  .main-image {
    position: relative;
    left: 10rem;
  }
  .mainbody-hello {
    float: left;
    position: relative;
    right: 7.5rem;
  }
}

@media (max-width: 768px) {
  .mainbody-text {
    position: absolute;
    top: 66rem;
  }

  .main-image {
    position: relative;
    left: 5rem;
  }
  .mainbody-hello {
    float: left;
    position: relative;
    bottom: 30rem;
    left: 12rem;
  }
}

@media (max-width: 675px) {
  .mainbody-text {
    position: absolute;
    top: 66rem;
  }

  .main-image {
    position: relative;
    left: 2rem;
    right: 1rem;
  }
  .mainbody-hello {
    float: left;
    position: relative;
    bottom: 30rem;
    left: 9.5rem;
  }
} */
