/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */

body {
  text-align: center;
}

h4,
h6 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  color: #fff;
}

/* NAVIGATION */
.navi {
  height: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 1.5;
}

/* HEADER SECTION */
.page-heading {
  position: relative;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
  overflow: visible;
  background: linear-gradient(0deg, #8fcfd1 0, #df5e88 100%);
}

.heading {
  padding-bottom: 3.6rem;
  padding-top: 9rem;
}

.name-heading {
  font-size: 4rem;
  line-height: 1.5;
}

.desc-subheading {
  color: #fff;
}

.icons-edit {
  color: #fff;
}

.btn-primary {
  background-color: #df5e88;
  border-color: #df5e88;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.showbutt {
  scroll-behavior: smooth;
}

.showbutt:hover {
  background-color: #df5e88;
  border-color: #df5e88;
}
